.card {
    box-sizing: border-box;
    background-color: rgb(211, 156, 232);
    padding: 10px 30px 30px 30px;
    width: 96%;
    max-width: 1024px;
    border-radius: 20px;
    text-align: left;
    color: white;
    font-weight: bold;
}



.fields {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.btn-result {
    height: 60px;
    width: 50%;
    font-size: 20px;
    border-radius: 8px;
    outline: none;
    border: 1px solid rgb(211, 156, 232);
    background-color: rgb(211, 156, 232);
    color: #fff;
    cursor: pointer;
    transition: all 0.5s ease;
}
.btn-result:hover {
    font-size: 25px;
}

